/*body{
	background-image: url(https://wall.cookdiary.net/sites/default/files/wallpaper/games/69158/cyberpunk-2077-hd-wallpapers-hd-69158-9951593.png);
}*/
body{
	background-image: url(file:///C:/Users/dell/Downloads/Web/Close-up-Shot-of-Stunning-Dark-Green-leaves.jpg);
	background-size: cover;
	position: relative;
		 
}
.container{
	font-family: 'Oswald', sans-serif;
	padding: 250px 0px;
		
}
.border{
	background-color: white;
	height: 5px;
	width: 80px;
	border-color: red;
	margin-left: 510px;
	margin-bottom: 10px;
}

.btn-danger{
	margin-left: 500px;
	margin-top: 15px;
	transition:all .1s;

}
.btn-danger:hover{
	transform: scale(1.1);

}

h1{
	
	color: white;
	text-align: center;
	letter-spacing: 0.2em;
}